<ion-view view-title="Fidelivery - Iniciar sesión" cache-view="false" style="width: 60%; height: 60%; top: 20%; left: 20%; right: 20%; bottom: 20%;">
    <ion-header-bar>
        <h1 class="title">Iniciar sesión</h1>
        <!--<div class="buttons">
            <button class="button button-clear" ng-click="closeLogin()">Close</button>
        </div>-->
    </ion-header-bar>
    <ion-content>
        <form ng-submit="vm.iniciarSesion()">
            <div class="list">
                <label class="item item-input">
          <span class="input-label">Usuario</span>
          <input type="text" ng-model="vm.user.username" required>
        </label>
                <label class="item item-input">
          <span class="input-label">Contraseña</span>
          <input type="password" ng-model="vm.user.password" required>
        </label>
                <label class="item">
          <button class="button button-block button-positive" type="submit">Ingresar</button>
        </label>
            </div>
        </form>
    </ion-content>
</ion-view>