<ion-view view-title="Fidelivery - Iniciar sesión" cache-view="false" class="vista-login">
    <ion-content class="contenedor">
        <form name="formLogin" ng-submit="vm.iniciarSesion()" class="center-block form-login">
            <div class="list">
                <img src="img/fd-logotipo.png" alt="Logotipo de Fidelivery" style="width: 80%;" class="img-responsive center-block" />
                <div class="item item-input margin-form">
                    <span class="input-label">Usuario</span>
                    <input id="username" class="input-login" type="text" ng-model="vm.user.username" required />
                </div>
                <div class="item item-input margin-form">
                    <span class="input-label">Contraseña</span>
                    <input id="password" class="input-login" type="password" ng-model="vm.user.password" required />
                </div>
                <!--<div class="item item-input margin-form">
                    <ion-checkbox class="checkbox-assertive" ng-model="isChecked">Recordar contraseña</ion-checkbox>
                </div>-->
                <div class="item">
                    <button class="button button-block button-balanced button-login margin-form" type="submit" ng-disabled="formLogin.$invalid"><b>¡Comencemos!</b></button>
                </div>
            </div>
        </form>
    </ion-content>
</ion-view>