<ion-modal-view style="width: 90%; height: 90%; top: 5%; left: 5%; right: 5%; bottom: 5%;">
    <ion-header-bar>
        <h1 class="title">Sede</h1>
        <div class="buttons">
            <button class="button-icon icon ion-close" ng-click="vm.cerrarNuevo()"></button>
        </div>
    </ion-header-bar>
    <ion-content class="padding">
        <div class="im-wrapper">
            <form id="form" name="form" ng-submit="vm.confirmar()">
                <div class="list">
                    <div class="item item-input item-floating-label">
                        <span class="input-label">Sede</span>
                        <input id="nombre" type="text" ng-model="vm.sede.nombre" placeholder="Nombre de la sede" required />
                    </div>
                    <div class="item item-input item-select">
                        <div class="input-label">Establecimiento</div>
                        <select ng-model="vm.sede.establecimiento_id" ng-options="establecimiento.id as establecimiento.nombre for establecimiento in vm.establecimientos"
                            required>
                        </select>
                    </div>
                    <br />
                    <button class="button button-block button-calm ink" data-ink-color="#9DEAFF" data-ink-opacity="1" ng-disabled="form.$invalid">Confirmar</button>
                </div>
            </form>
        </div>
    </ion-content>
</ion-modal-view>