<ion-view view-title="Pedidos anteriores">
    <ion-header-bar>
        <h1 class="title">Nuevo pedido</h1>
    </ion-header-bar>
    <ion-content>
        <div class="bar bar-subheader bar-stable static text-center">
            <strong class="title">Registrar pedidos pasados</strong>
        </div>
        <div class="im-wrapper">
            <form id="formPedido" name="formPedido" ng-submit="vm.confirmar()">
                <div class="list">
                    <div class="item item-input item-floating-label">
                        <span class="input-label">Pedido</span>
                        <textarea id="pedido" ng-model="vm.pedido.detalles" rows="5" placeholder="Escriba aquí su pedido" required></textarea>
                    </div>
                    <div class="item item-input item-floating-label">
                        <angucomplete-alt id="nombre_completo" placeholder="Nombre completo" selected-object="vm.setCliente" search-fields="nombre_completo"
                            title-field="nombre_completo" minlength="1" match-class="highlight" text-searching="Buscando cliente..."
                            text-no-results="No existen clientes que coincidan con el criterio de búsqueda." auto-match="true"
                            remote-url="http://localhost/ion-md-server/public/clientes" remote-url-request-formatter="vm.formatearBusqueda"
                            input-changed="vm.cambioNombre" required/>
                    </div>
                    <div class="row">
                        <div class="item item-input item-select">
                            <div class="input-label">Número</div>
                            <select ng-model="vm.tipo_numero" ng-init="vm.tipo_numero = 'Celular'">
                                <option selected>Celular</option>
                                <option>Teléfono</option>
                            </select>
                        </div>
                        <div class="item item-input" ng-if="vm.tipo_numero == 'Celular'">
                            <input id="celular" ng-model="vm.pedido.cliente.celular" type="number" min="3000000000" max="3999999999" minlength="10" maxlength="10"
                                placeholder="Celular" ng-required="vm.tipo_numero == 'Celular'">
                        </div>
                        <div class="item item-input" ng-if="vm.tipo_numero == 'Teléfono'">
                            <input id="telefono" ng-model="vm.pedido.cliente.telefono" type="number" min="1000000" max="9999999" minlength="7" maxlength="7"
                                placeholder="Teléfono" ng-required="vm.tipo_numero == 'Teléfono'">
                        </div>
                    </div>
                    <div class="row">
                        <div class="item item-input item-select">
                            <div class="input-label">Dirección</div>
                            <select ng-model="vm.tipo_direccion" ng-init="vm.tipo_direccion = 'Casa'">
                                <option selected>Casa</option>
                                <option>Oficina</option>
                                <option>Otra</option>
                            </select>
                        </div>
                        <div class="item item-input" ng-if="vm.tipo_direccion == 'Casa'">
                            <input id="direccion_casa" ng-model="vm.pedido.cliente.direccion_casa" type="text" placeholder="Dirección de la casa" ng-required="vm.tipo_direccion == 'Casa'">
                        </div>
                        <div class="item item-input" ng-if="vm.tipo_direccion == 'Oficina'">
                            <input id="direccion_oficina" ng-model="vm.pedido.cliente.direccion_oficina" type="text" placeholder="Dirección de la oficina"
                                ng-required="vm.tipo_direccion == 'Oficina'">
                        </div>
                        <div class="item item-input" ng-if="vm.tipo_direccion == 'Otra'">
                            <input id="direccion_otra" ng-model="vm.pedido.cliente.direccion_otra" type="text" placeholder="Otra dirección" ng-required="vm.tipo_direccion == 'Otra'">
                        </div>
                    </div>
                    <div class="row">
                        <div class="item item-input item-floating-label col-34">
                            <span class="input-label">Email</span>
                            <input type="email" placeholder="Email" ng-model="vm.pedido.cliente.email">
                        </div>
                        <div class="item item-input item-floating-label col-offset-33 col-33">
                            <span class="input-label">Fecha del pedido</span>
                            <input type="text" placeholder="YYYY-MM-DD" ng-click="vm.seleccionarFechaPedido()" ng-model="vm.pedido.created_at" required/>
                        </div>
                    </div>
                    <br />
                    <button class="button button-block button-calm ink" data-ink-color="#9DEAFF" data-ink-opacity="1" ng-disabled="formPedido.$invalid">Confirmar</button>
                </div>
            </form>
        </div>
    </ion-content>
</ion-view>