<div id="popup-resumen-pedido">
	<table id="table-resumen-pedido">
		<tr ng-if="app.user.vendedor.sede.establecimiento.tiene_pedido_mesa">
			<td>Tipo de pedido</td>
			<td ng-if="vm.pedido.tipo_pedido == 'mesa'">De mesa</td>
			<td ng-if="vm.pedido.tipo_pedido == 'domicilio'">Domicilio</td>
		</tr>
		<tr>
			<td>Pedido</td>
			<td>
				<pre>{{vm.pedido.detalles}}</pre>
			</td>
		</tr>
		<tr ng-if="vm.pedido.tipo_pedido == 'domicilio'">
			<td>Subtotal</td>
			<td>{{vm.pedido.subtotal | currency : '$ ' : 0}}</td>
		</tr>
		<tr ng-if="vm.pedido.tipo_pedido == 'domicilio'">
			<td>Valor del domicilio</td>
			<td>{{vm.pedido.valor_domicilio | currency : '$ ' : 0}}</td>
		</tr>
		<tr>
			<td>Total a pagar</td>
			<td>{{vm.pedido.total | currency : '$ ' : 0}}</td>
		</tr>
		<tr>
			<td>Cliente</td>
			<td class="capitalize">{{vm.pedido.cliente.nombre_completo}}</td>
		</tr>
		<tr>
			<td>Número</td>
			<td>{{vm.pedido.numero}}</td>
		</tr>
		<tr ng-if="vm.pedido.tipo_pedido == 'domicilio'">
			<td>Dirección</td>
			<td class="capitalize">{{vm.pedido.direccion}}</td>
		</tr>
		<tr>
			<td>Establecimiento</td>
			<td>{{app.user.vendedor.sede.establecimiento.nombre}}</td>
		</tr>
	</table>
</div>