<ion-view view-title="Pedidos" id="view-pedidos">
	<button id="fab" class="button button-balanced button-fab button-fab-bottom-right" ng-click="vm.openModal()">
        <i class="icon ion-plus"></i>
    </button>
	<ion-content>
		<div class="bar bar-subheader bar-stable static text-center">
			<strong class="title">En cola</strong>
		</div>
		<div class="im-wrapper">
			<div class="table-bordered">
				<div class="row responsive-sm">
					<pre class="col col-20">Detalles</pre>
					<pre class="col col-10">Subtotal</pre>
					<pre class="col col-10">Valor del domicilio</pre>
					<pre class="col col-10">Total</pre>
					<pre class="col col-10">Cliente</pre>
					<pre class="col col-10">Contacto</pre>
					<pre class="col col-10">Dirección</pre>
					<pre class="text-center col col-20">Acciones</pre>
				</div>
				<div class="row responsive-sm" ng-repeat="pedido in vm.pedidos track by $index">
					<div class="col col-20">
						<pre ng-repeat="item in pedido.productos">{{item.nombre + ' ' + item.comentario + ' ' + (item.valor | currency : '$ ' : 0)}}</pre>
					</div>
					<pre class="col col-10">{{pedido.subtotal | currency : '$ ' : 0}}</pre>
					<pre class="col col-10" ng-if="pedido.tipo_pedido == 'domicilio'">{{pedido.valor_domicilio | currency : '$ ' : 0}}</pre>
					<pre class="col col-10" ng-if="pedido.tipo_pedido == 'mesa'">De mesa</pre>
					<pre class="col col-10">{{pedido.total | currency : '$ ' : 0}}</pre>
					<pre class="col col-10">{{pedido.cliente.nombre_completo}}</pre>
					<pre class="col col-10">{{pedido.numero}}</pre>
					<pre class="col col-10" ng-if="pedido.tipo_pedido == 'domicilio'">{{pedido.direccion}}</pre>
					<pre class="col col-10" ng-if="pedido.tipo_pedido == 'mesa'">De mesa</pre>
					<div class="text-center col col-20">
						<i class="ion-paper-airplane icon button-icon ink tooltip" title="Despachar" ng-click="vm.despachar(pedido)"></i>
						<i class="ion-printer icon button-icon ink tooltip" title="Imprimir" ng-click="vm.imprimirPedidoEnCola(pedido)"></i>
						<i class="ion-edit icon button-icon ink tooltip" title="Modificar" ng-click="vm.modificar(pedido)"></i>
						<i class="ion-close-round icon button-icon ink tooltip" title="Cancelar" ng-click="vm.cancelarPedido(pedido)"></i>
					</div>
				</div>
			</div>
		</div>
		<!--<i class="material-icons">3d_rotation</i>-->
	</ion-content>
</ion-view>