<ion-view view-title="Establecimientos">
    <button id="fab" class="button button-balanced button-fab button-fab-bottom-right" ng-click="vm.nuevo()">
        <i class="icon ion-plus"></i>
    </button>
    <ion-content>
        <div class="bar bar-subheader bar-stable static text-center">
            <strong class="title">Listado de establecimientos</strong>
        </div>
        <div class="im-wrapper">
            <div class="list">
                <div class="item row responsive-sm">
                    <pre class="col col-30 centered-text">Nombre</pre>
                    <pre class="col col-30 centered-text">Mensaje</pre>
                    <pre class="col col-20 centered-text">Administrador</pre>
                    <pre class="col col-20 centered-text">Acciones</pre>
                </div>
                <div class="item item-divider"></div>
                <div class="item item-button-right row responsive-sm" ng-repeat="item in vm.establecimientos track by $index">
                    <pre class="col col-30 centered-text">{{item.nombre}}</pre>
                    <pre class="col col-30 centered-text">{{item.mensaje}}</pre>
                    <pre class="col col-20 centered-text">{{item.administrador.user.username}}</pre>
                    <div class="col col-20 centered-text">
                        <button title="Modificar" class="button-icon ink" ng-click="vm.modificar(item)">
                            <i class="ion-edit icon"></i>
                        </button>
                        <button title="Desactivar" class="button-icon ink" ng-click="vm.desactivar(item)">
                            <i class="ion-close-round icon"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <br />
        <br />
        <br />
        <br />
    </ion-content>
</ion-view>