<ion-view view-title="Reportes">
	<ion-content>
		<div class="bar bar-subheader bar-stable static text-center">
			<strong class="title">Reporte general en tablas</strong>
		</div>
		<div class="im-wrapper">
			<div class="list">
				<div class="row responsive-md">
					<div class="item item-input item-floating-label col col-20">
						<span class="input-label">Fecha inicial</span>
						<input type="text" placeholder="YYYY-MM-DD" ng-click="vm.seleccionarFechaInicial()" ng-model="vm.fechaInicial" />
					</div>
					<div class="item item-input item-floating-label col col-offset-10 col-20">
						<span class="input-label">Fecha final</span>
						<input type="text" placeholder="YYYY-MM-DD" ng-click="vm.seleccionarFechaFinal()" ng-model="vm.fechaFinal" />
					</div>
					<div class="item item-input item-select col col-25 col-bottom">
						<div class="input-label">Establecimiento</div>
						<select id="establecimientoSeleccionado" ng-model="vm.establecimientoSeleccionado" ng-options="establecimiento as establecimiento.nombre for establecimiento in vm.establecimientos"
							ng-change="vm.cargarDatos()">
                        </select>
					</div>
					<div class="item item-input item-select col col-25 col-bottom" ng-hide="!vm.establecimientoSeleccionado">
						<div class="input-label">Sedes</div>
						<select id="sedeSeleccionada" ng-model="vm.sedeSeleccionada" ng-options="sede as sede.nombre for sede in vm.establecimientoSeleccionado.sedes"
							ng-change="vm.cargarDatos()">
                            <option value="" selected>Todas</option>
                        </select>
					</div>
				</div>
			</div>
			<div class="row responsive-md">
				<div class="col col-80 col-offset-10">
					<div class="card">
						<div class="item item-divider">
							Pedidos por día
						</div>
						<div class="item item-text-wrap">
							<table wt-responsive-table>
								<thead>
									<tr>
										<th class="bold">Fecha</th>
										<th class="bold">Cantidad</th>
										<th class="bold">Ingresos</th>
										<th class="bold" ng-if="vm.establecimientoSeleccionado.tiene_mensajero">Ingresos por domicilio</th>
									</tr>
								</thead>
								<tbody>
									<tr ng-repeat="item in vm.pedidosDiaLapso">
										<td class="text-center">{{item.fecha}}</td>
										<td class="text-center">{{item.pedidos_enviados}}</td>
										<td class="text-center">{{(item.valor | currency : '$ ' : 0) || 0}}</td>
										<td class="text-center" ng-if="vm.establecimientoSeleccionado.tiene_mensajero">{{(item.valor_domicilios | currency : '$ ' : 0) || 0}}</td>
									</tr>
									<tr>
										<td class="bold text-center">Total</td>
										<td class="bold text-center">{{vm.getTotalPedidosDiaLapso() || 0}}</td>
										<td class="bold text-center">{{(vm.getTotalValorPorDia() | currency : '$ ' : 0) || 0}}</td>
										<td class="bold text-center" ng-if="vm.establecimientoSeleccionado.tiene_mensajero">{{(vm.getTotalValorDomicilios() | currency : '$ ' : 0) || 0}}</td>
									</tr>
								</tbody>
							</table>
						</div>
						<!--<div class="item item-divider">
						</div>-->
					</div>
				</div>
			</div>
		</div>
	</ion-content>
</ion-view>