<ion-view view-title="Reportes">
	<ion-content>
		<div class="bar bar-subheader bar-stable static text-center">
			<strong class="title">Reporte general en tablas</strong>
		</div>
		<div class="im-wrapper">
			<div class="list">
				<div class="row responsive-md">
					<div class="item item-input item-floating-label col col-20">
						<span class="input-label">Fecha inicial</span>
						<input type="text" placeholder="YYYY-MM-DD" ng-click="vm.seleccionarFechaInicial()" ng-model="vm.fechaInicial" />
					</div>
					<div class="item item-input item-floating-label col col-offset-10 col-20">
						<span class="input-label">Fecha final</span>
						<input type="text" placeholder="YYYY-MM-DD" ng-click="vm.seleccionarFechaFinal()" ng-model="vm.fechaFinal" />
					</div>
					<div class="item item-input item-select col col-25 col-bottom">
						<div class="input-label">Establecimiento</div>
						<select id="establecimientoSeleccionado" ng-model="vm.establecimientoSeleccionado" ng-options="establecimiento as establecimiento.nombre for establecimiento in vm.establecimientos"
							ng-change="vm.cargarDatos()">
                            <option value="" selected>Todos</option>
                        </select>
					</div>
					<div class="item item-input item-select col col-25 col-bottom" ng-hide="!vm.establecimientoSeleccionado">
						<div class="input-label">Sedes</div>
						<select id="sedeSeleccionada" ng-model="vm.sedeSeleccionada" ng-options="sede as sede.nombre for sede in vm.establecimientoSeleccionado.sedes"
							ng-change="vm.cargarDatos()">
                            <option value="" selected>Todas</option>
                        </select>
					</div>
				</div>
			</div>
			<div class="row responsive-md">
				<div class="card col col-50">
					<div class="item item-divider">
						Cantidad de pedidos por día
					</div>
					<div class="item item-text-wrap">
						<table wt-responsive-table>
							<thead>
								<tr>
									<th>Fecha</th>
									<th>Pedidos</th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="item in vm.pedidosDiaLapso">
									<td class="text-center">{{item.fecha}}</td>
									<td class="text-center">{{item.pedidos_enviados}}</td>
								</tr>
							</tbody>
						</table>
					</div>
					<div class="item item-divider">
						Total: {{vm.getTotalPedidosDiaLapso() || 0}}
					</div>
				</div>
				<div class="card col col-50">
					<div class="item item-divider">
						Valor de los pedidos por día
					</div>
					<div class="item item-text-wrap">
						<table wt-responsive-table>
							<thead>
								<th>Fecha</th>
								<th>Valor</th>
							</thead>
							<tbody>
								<tr ng-repeat="item in vm.valorPorDia">
									<td class="text-center">{{item.fecha}}</td>
									<td class="text-center">{{item.valor}}</td>
								</tr>
							</tbody>
						</table>
					</div>
					<div class="item item-divider">
						Total: {{vm.getTotalValorPorDia() || 0}}
					</div>
				</div>
			</div>
		</div>
	</ion-content>
</ion-view>