<ion-view view-title="Resumen del día" id="view-pedidos">
	<ion-content>
		<div class="bar bar-subheader bar-stable static text-center">
			<strong class="title">Aquí verás los pedidos despachados del día que selecciones</strong>
		</div>
		<div class="im-wrapper">
			<div class="list">
				<div class="row responsive-md">
					<div class="item item-input item-stacked-label col col-20">
						<span class="input-label">Fecha</span>
						<input type="text" class="fd-input" placeholder="Fecha" ng-click="vm.seleccionarFechaInicial()" ng-model="vm.fecha_inicial"
						/>
					</div>
					<div class="item item-input item-stacked-label col col-offset-10 col-20">
						<span class="input-label">Cantidad</span>
						<input type="number" class="fd-input" placeholder="Cantidad" value="{{vm.pedidos.length}}" disabled />
					</div>
					<div class="item item-input item-stacked-label col col-offset-10 col-20">
						<span class="input-label">Ingresos</span>
						<input type="text" class="fd-input" placeholder="Ingresos" value="{{vm.getValorPedidos() | currency : '$ ' : 0}}" disabled
						/>
					</div>
				</div>
			</div>
			<div class="table-bordered">
				<div class="row responsive-md">
					<pre class="col col-20">Detalles</pre>
					<pre class="col col-10">Subtotal</pre>
					<pre class="col col-10">Valor del domicilio</pre>
					<pre class="col col-10">Mensajero</pre>
					<pre class="col col-10">Total</pre>
					<pre class="col col-10">Cliente</pre>
					<pre class="col col-10">Contacto</pre>
					<pre class="col col-20">Dirección</pre>
				</div>
				<div class="row responsive-md" ng-repeat="pedido in vm.pedidos track by $index">
					<pre class="col col-20">{{pedido.detalles}}</pre>
					<pre class="col col-10">{{pedido.subtotal | currency : '$ ' : 0}}</pre>
					<pre class="col col-10">{{pedido.valor_domicilio | currency : '$ ' : 0}}</pre>
					<pre class="col col-10 capitalize">{{pedido.tipo_mensajero}}</pre>
					<pre class="col col-10">{{pedido.total | currency : '$ ' : 0}}</pre>
					<pre class="col col-10">{{pedido.cliente.nombre_completo}}</pre>
					<pre class="col col-10">{{pedido.numero}}</pre>
					<pre class="col col-20">{{pedido.direccion}}</pre>
				</div>
			</div>
		</div>
		<!--<i class="material-icons">3d_rotation</i>-->
	</ion-content>
</ion-view>