<ion-view view-title="Administrar clientes">
	<button id="fab-oferta" title="Ofertar" class="button button-balanced button-fab button-fab-bottom-right" ng-click="vm.escribirOferta()">
        <i class="icon ion-speakerphone"></i>
    </button>
	<ion-content>
		<div class="bar bar-subheader bar-stable static text-center">
			<strong class="title">Clientes</strong>
		</div>
		<div class="im-wrapper">
			<div class="list">
				<div class="row responsive-md">
					<div class="item item-input item-select col col-33 col-bottom">
						<div class="input-label">Establecimiento</div>
						<select id="establecimientoSeleccionado" ng-model="vm.establecimientoSeleccionado" ng-options="establecimiento as establecimiento.nombre for establecimiento in vm.establecimientos"
							ng-change="vm.cargarClientes()">
                        </select>
					</div>
					<div class="item item-input item-stacked-label col col-20">
						<span class="input-label">Mensajes restantes</span>
						<input id="mensajes-restantes" type="number" value="{{vm.establecimientoSeleccionado.sms_restantes}}" disabled />
					</div>
					<div class="item item-input item-stacked-label col col-20">
						<span class="input-label">Clientes registrados</span>
						<input id="clientes-pantalla" type="number" value="{{vm.clientes.length}}" disabled />
					</div>
					<div class="item item-input col col-33 col-bottom">
						<ion-checkbox class="checkbox-balanced" ng-change="vm.alternarSeleccionarTodo()" ng-model="vm.seleccionarTodoChecked">Seleccionar todo ({{vm.seleccionados.length}} seleccionados)
						</ion-checkbox>
					</div>
				</div>
			</div>
			<div>
				<style scoped>
					@import url('lib/bootstrap-paper/bootstrap-paper.min.css');
				</style>
				<table wt-responsive-table ng-table="vm.tableParams" class="table table-condensed table-hover" show-filter="true">
					<tr ng-repeat="item in $data" ng-click="vm.itemClicked(item)" ng-class="{success: item.selected}">
						<td title="'Nombre completo'" filter="{ nombre_completo: 'text'}" sortable="'nombre_completo'">
							{{item.nombre_completo}}
						</td>
						<td title="'Contacto'" filter="vm.contactoFilterDef" sortable="'celular'">
							<span ng-if="item.celular">{{item.celular}}<br/></span>
							<span ng-if="item.telefono">{{item.telefono}}</span>
						</td>
						<td title="'Direcciones'" filter="vm.direccionesFilterDef" sortable="'direccion_casa'">
							<span ng-if="item.direccion_casa">{{item.direccion_casa}}.<br/></span>
							<span ng-if="item.direccion_oficina">{{item.direccion_oficina}}.<br/></span>
							<span ng-if="item.direccion_otra">{{item.direccion_otra}}.</span>
						</td>
						<td title="'Género'" filter="{ genero: 'select'}" filter-data="vm.generos" sortable="'genero'" class="capitalize">
							{{item.genero}}
						</td>
						<td title="'Email'" filter="{ email: 'text'}" sortable="'email'">
							{{item.email || 'No registrado'}}
						</td>
						<td title="'Fecha de nacimiento'" filter="{ fecha_nacimiento: 'text'}" sortable="'fecha_nacimiento'">
							{{item.fecha_nacimiento || 'No registrada'}}
						</td>
						<td title="'Total pedidos'" filter="{ total_pedidos: 'number'}" sortable="'total_pedidos'">
							{{item.total_pedidos}}
						</td>
						<td title="'Seleccionado'">
							<input class="form-control" type="checkbox" ng-if="!!item.celular" ng-model="item.selected" ng-disabled="vm.seleccionados.length >= vm.establecimientoSeleccionado.sms_restantes && !item.selected"
							/>
						</td>
					</tr>
				</table>
			</div>
		</div>
		<br />
		<br />
		<br />
		<br />
	</ion-content>
</ion-view>