<ion-view view-title="Historial de pedidos">
	<ion-content>
		<div class="bar bar-subheader bar-stable static text-center">
			<strong class="title">Aquí verás los pedidos despachados del día que selecciones</strong>
		</div>
		<div class="im-wrapper">
			<div class="list">
				<div class="row responsive-md">
					<div class="item item-input item-select col col-50">
						<div class="input-label">Establecimiento</div>
						<select id="establecimientoSeleccionado" ng-model="vm.establecimientoSeleccionado" ng-options="establecimiento as establecimiento.nombre for establecimiento in vm.establecimientos"
							ng-change="vm.cargarDatos()">
                        </select>
					</div>
					<div class="item item-input item-select col col-50" ng-hide="!vm.establecimientoSeleccionado">
						<div class="input-label">Sedes</div>
						<select id="sedeSeleccionada" ng-model="vm.sedeSeleccionada" ng-options="sede as sede.nombre for sede in vm.establecimientoSeleccionado.sedes"
							ng-change="vm.cargarDatos()">
                            <option value="" selected>Todas</option>
                        </select>
					</div>
				</div>
			</div>
			<div class="list">
				<div class="row responsive-md">
					<div class="item item-input item-floating-label col col-20">
						<span class="input-label">Fecha</span>
						<input type="text" placeholder="Fecha" ng-click="vm.seleccionarFechaInicial()" ng-model="vm.fecha_inicial" />
					</div>
					<div class="item item-input item-stacked-label col col-offset-10 col-20">
						<span class="input-label">Cantidad</span>
						<input type="number" placeholder="Cantidad" value="{{vm.pedidos.length}}" disabled />
					</div>
					<div class="item item-input item-stacked-label col col-offset-10 col-20">
						<span class="input-label">Valor</span>
						<input type="text" placeholder="Valor" value="{{vm.getValorPedidos() | currency : '$ ' : 0}}" disabled />
					</div>
				</div>
			</div>
			<div class="table-bordered">
				<div class="row responsive-sm">
					<pre class="col col-20">Detalles</pre>
					<pre class="col col-10">Subtotal</pre>
					<pre class="col col-10">Valor del domicilio</pre>
					<pre class="col col-10">Total</pre>
					<pre class="col col-20">Cliente</pre>
					<pre class="col col-10">Contacto</pre>
					<pre class="col col-20">Dirección</pre>
				</div>
				<div class="row responsive-sm" ng-repeat="pedido in vm.pedidos track by $index">
					<pre class="col col-20">{{pedido.detalles}}</pre>
					<pre class="col col-10">{{pedido.subtotal | currency : '$ ' : 0}}</pre>
					<pre class="col col-10">{{pedido.valor_domicilio | currency : '$ ' : 0}}</pre>
					<pre class="col col-10">{{pedido.total | currency : '$ ' : 0}}</pre>
					<pre class="col col-20">{{pedido.cliente.nombre_completo}}</pre>
					<pre class="col col-10">{{pedido.numero}}</pre>
					<pre class="col col-20">{{pedido.direccion}}</pre>
				</div>
			</div>
		</div>
		<!--<i class="material-icons">3d_rotation</i>-->
	</ion-content>
</ion-view>