<ion-view view-title="Clientes">
	<ion-content>
		<div class="bar bar-subheader bar-stable static text-center">
			<strong class="title">Cumpliendo años hoy ({{app.clientesCumpliendo.length}})</strong>
		</div>
		<div class="im-wrapper">
			<div class="table-bordered">
				<div class="row responsive-sm">
					<pre class="col col-20">Nombre completo</pre>
					<pre class="col col-10">Celular<br/>Teléfono</pre>
					<pre class="col col-20">Direcciones</pre>
					<pre class="col col-10">Fecha de<br/>nacimiento</pre>
					<pre class="col col-10">Email</pre>
					<pre class="col col-10">Cliente de</pre>
					<pre class="col col-10"># de pedidos</pre>
					<pre class="col col-10 centered-text">Felicitar</pre>
				</div>
				<div class="row responsive-sm" ng-repeat="cliente in app.clientesCumpliendo track by $index">
					<pre class="col col-20">{{cliente.nombre_completo}}</pre>
					<pre class="col col-10">{{cliente.celular}}<br/>{{cliente.telefono}}</pre>
					<pre class="col col-20">{{cliente.direccion_casa}}<br/>{{cliente.direccion_oficina}}<br/>{{cliente.direccion_otra}}</pre>
					<pre class="col col-10">{{cliente.fecha_nacimiento}}</pre>
					<pre class="col col-10">{{cliente.email}}</pre>
					<pre class="col col-10">{{cliente.establecimiento.nombre}}</pre>
					<pre class="col col-10">{{cliente.total_pedidos}}</pre>
					<div class="col col-10 centered-text">
						<button title="Despachar" class="button-icon ink" ng-click="vm.escribirMensaje(cliente)" ng-if="cliente.celular">
                            <i class="ion-android-textsms icon"></i>
                        </button>
						<pre ng-if="!cliente.celular">No tiene celular registrado</pre>
					</div>
				</div>
			</div>
		</div>
	</ion-content>
</ion-view>